<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Anasayfa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/islemci">İşlemci</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/anakart">Anakart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ekrankarti">Ekran Kartı</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>   <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>   <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="#"></a>
        </li> 
        <button class="btn btn-outline-primary" [routerLink]="['/kayitekle']">Kayıt Ekle</button>
      </ul>
    </div>
  </nav>