<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">

      <button class="btn btn-outline-primary" [routerLink]="['/']">Kayıtları Listele</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="card mt-3">
        <div class="card-header bg-danger text-white">
          <h4>Kayıt Sil</h4>
        </div>
        <div class="card-body">
          <h4>{{secKayit.baslik}}</h4>
          <div [innerHTML]="secKayit.icerik"></div>

          <h4>Kayıt Silinecektir Onaylıyor musunuz?</h4>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-danger" (click)="Sil()">Sil</button>
        </div>
      </div>

    </div>
  </div>
</div>