<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col"><div class="card" style="width: 18rem;">
        <img src="http://www.gigabyte.com.tr/products/upload/products/8217/652509a2_6.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">B560M AORUS ELITE</h5>
          <p class="card-text">Supports 11th and 10th Gen Intel® Core™ Series Processors
            Çift Kanallı ECC' siz Sınırlandırılmamış DDR4, 4 DIMM
            Direct 12+1 Phases Digital VRM with Low RDS(on) MOSFETs
            Shielded Memory Routing for Better Memory Overclocking
            Fully Covered Thermal Design with High Coverage MOSFET Heatsinks
            Fast 2.5GbE LAN with Bandwidth Management
            Dual Ultra-Fast NVMe PCIe 4.0*/3.0 x4 M.2 with Thermal Guard
            Rear USB 3.2 Gen2 Type-C® and Front USB3.2 Gen1 Type-C® for Connecting Devices
            Pre-installed IO Shield for Easy and Quick Installation
            RGB FUSION 2.0 with Multi-Zone Addressable LED Light Show design, support Addressable LED & RGB LED strips
            Smart Fan 6 Features Multiple Temperature Sensors, Hybrid Fan Headers with FAN STOP
            Q-Flash Plus Update BIOS without Installing the CPU, Memory and Graphics Card</p>
        </div>
      </div></div>
      <div class="col"><div class="card" style="width: 18rem;">
        <img src="https://dlcdnwebimgs.asus.com/gain/6C060D34-5F4C-4284-B5C5-3F58ABB0119F/w717/h525" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ROG Crosshair VIII Formula</h5>
          <p class="card-text">AMD AM4 soket: 2. ve 3. Nesil  AMD Ryzen™ işlemcilere hazır. İki adede kadar M.2 sürücü, USB 3.2 Gen2 ve AMD StoreMI desteğiyle maksimum bağlantı seçeneği ve hız.
            Kapsamlı termal tasarım: Entegre Crosschill EK III, aktif PCH soğutma bloğu, M.2 alüminyum soğutma bloğu ve ROG Cooling Zone.
            Yüksek performanslı ağ bağlantısı: MU-MIMO destekli Wi-Fi 6 (802.11ax) desteği, Aquantia ve Intel’den 5G ve Gigabit Ethernet. Her biri ASUS LANGuard korumasına ve GameFirst V yazılım desteğine sahip.
            5-Yönlü Optimizasyon: Bilgisayarınız için özel olarak belirlenmiş hız aşırtma ve soğutma profilleriyle sistem genelinde otomatik ayar imkanı.
            Kendi Sistemini Kurmak İsteyenlere Yönelik Tasarım: Maksimum dayanıklılık için önceden monte edilmiş giriş çıkış kalkanı, ASUS SafeSlot, BIOS flashback ve üst düzey bileşenler.
            Benzersiz kişiselleştirme olanakları: RBG başlıkları ve Gen.2 adreslenebilir başlıklarla birlikte ASUS’a özgü Aura Sync RGB aydınlatma.
            Endüstri lideri ROG ses özellikleri: Japon üretimi kapasitörlerle desteklenen üst sınıf ses performansı için SupremeFX S1220 ve ESS® ES9023P.</p>
        </div>
      </div></div>
      <div class="col"><div class="card" style="width: 18rem;">
        <img src="https://www.asus.com/media/global/products/qqg2y2e8z4uhri2d/P_setting_fff_1_90_end_500.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PRIME B460I-PLUS</h5>
          <p class="card-text">Intel® LGA 1200 soket: 10. Nesil Intel® Core™ işlemcilerine hazır
            Gelişmiş güç çözümü: Kararlı güç dağıtımı için 6+1+1 DrMOS güç aşamaları, 8 katmanlı PCB
            ASUS OptiMem II: Gelişmiş bellek hız aşırtması için sinyal bütünlüğünü korumak adına iz ve yolların dikkatli bir şekilde yönlendirilmesini sağlar.
            Fan Xpert 4: Üstün soğutma ve sessizlik için esnek kontroller ve daha serin bir oyun deneyimi için GPU sıcaklık tespiti.
            5X Protection III: Tam koruma için birden çok donanım tabanlı güvenlik.
            Ultra Hızlı Bağlantıya Hazır: ASUS'a özgü Wi-Fi kart tutuculu, Wi-Fi modülüne hazır dikey M.2 Key E yuvası.
            Aura Sync RGB: LED aydınlatmayı, içerisinde yeni nesil programlanabilir RGB şeritlerin de bulunduğu, geniş bir uyumlu PC aksesuarı portföyüyle eşleştirin.</p>
        </div>
      </div></div>
      <div class="col"><div class="card" style="width: 18rem;">
        <img src="https://www.asus.com/media/global/products/rwed1stzwbm96li3/P_setting_fff_1_90_end_500.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PRIME B550M-K</h5>
          <p class="card-text">AMD AM4 soket: 3. Nesil AMD Ryzen™ ve 3. Nesil AMD Ryzen™ ile Radeon™ Grafik İşlemcilerine hazır
            Kapsamlı soğutma: PCH soğutma bloğu ve Fan Xpert 2+
            Ultra hızlı bağlantılar: Çift M.2, PCIe 4.0, 1 Gb Ethernet, USB 3.2 Gen 2 Type-A
            5X Protection III: Tam koruma için birden çok donanım tabanlı güvenlik.</p>
        </div>
      </div></div>
    </div>
  </div>
</body>
</html>