<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
          <div class="col"><div class="card" style="width: 18rem;">
            <img src="https://www.donanimhaber.com/cache-v2/?t=20200920142619&width=-1&text=0&path=https://img.donanimhaber.com/images/haber/125209/340x1912xrtx-3090-in-ilk-oyun-testleri-rtx-3080-den-yalnizca-10-hizli.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">GEFORCE RTX 3090</h5>
              <p class="card-text">GeForce RTX™ 3090, TITAN sınıfı performansa sahip, büyük ve kuvvetli bir GPU 'dur. Gelişmiş Ray Tracing (RT) Çekirdekleri, Tensör Çekirdekleri ve duraksız işlem özelliğine sahip çoklu işlemciler sayesinde hem ışın izleme hem de yapay zeka performansına ağırlık veren, NVIDIA'nın 2. nesil RTX mimarisi olan Ampere tarafından güçlendirilmiştir. Ayrıca, en üst seviye oyun performansı için, tam tamına 24 GB G6X belleğe sahiptir.</p>
            </div>
          </div></div>
          <div class="col"><div class="card" style="width: 18rem;">
            <img src="https://cdn.mos.cms.futurecdn.net/Q8QdeZv4CDLyfuCdbuhaDm.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">GEFORCE RTX 3070</h5>
              <p class="card-text">The GeForce RTX™ 3070, NVIDIA'nın 2. nesil RTX mimarisi olan Ampere tarafından güçlendirilmiştir. Gelişmiş Ray Tracing Çekirdekleri ve Tensör Çekirdekleri, duraksız işlem özellikli çoklu işlemciler ve süper hızlı G6 bellek içeren tasarımı sayesinde en zorlu oyunlarda bile en iyi performansınızı göstermeniz için gereken gücü sunar.</p>
            </div>
          </div></div>
          <div class="col"><div class="card" style="width: 18rem;">
            <img src="https://www.comx-computers.co.za/i/ASrock/rx550-2gb-gaming_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Phantom Gaming Radeon™ RX 550 2G</h5>
              <p class="card-text">
                En Büyük Bellek Boyutu
                2 GB
                Bellek Tipi
                GDDR5
                Bellek Arayüzü
                128-bit</p>
            </div>
          </div></div>
          <div class="col"><div class="card" style="width: 18rem;">
            <img src="https://www.vortez.net/news_file/20320_asrock-amd-radeon-rx-6800-xt-phantom-gaming-d.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Radeon™ RX 6800 Phantom Gaming D 16G OC</h5>
              <p class="card-text">Bellek Hızı (Etkin)
                16 Gbps
                En Büyük Bellek Boyutu
                16 GB
                Bellek Tipi
                GDDR6
                Bellek Arayüzü
                256-bit</p>
            </div>
          </div></div>
        </div>
      </div>
</body>
</html>
