<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
          <div class="col"><div class="card" style="width: 18rem;">
            <img src="https://www.intel.com.tr/content/dam/products/hero/foreground/processor-box-core-i9-extreme-edition-1x1.png.rendition.intel.web.225.225.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Intel® Core™ i9-10980XE Extreme Edition Processor</h5>
              <p class="card-text">24.75 MB Intel® Smart Cache Önbellek
                18 Çekirdek
                36 İş Parçacığı
                4.60 GHz Maks. Turbo Frekansı
                XE - Extreme performance and mega-tasking, unlocked
                </p>
            </div>
          </div></div>
          <div class="col"><div class="card" style="width: 18rem;">
            <img src="https://www.intel.com.tr/content/dam/products/hero/foreground/processor-box-core-i9-x-series-1x1.png.rendition.intel.web.225.225.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Intel® Core™ i9-10900X X-Series Processor</h5>
              <p class="card-text">(19.25M Cache, 3.70 GHz)
                19.25 MB Intel® Smart Cache Önbellek
                10 Çekirdek
                20 İş Parçacığı
                4.50 GHz Maks. Turbo Frekansı
                X - Extreme performance and mega-tasking, unlocked
                </p>
            </div>
          </div></div>
          <div class="col"><div class="card" style="width: 18rem;">
            <img src="https://www.guru3d.com/index.php?ct=articles&action=file&id=65392" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">AMD Ryzen™ 9 5950X</h5>
              <p class="card-text">AMD "Zen 3" Core Architecture
                AMD StoreMI Technology
                AMD Ryzen™ Master Utility
                AMD Ryzen™ VR-Ready Premium</p>
            </div>
          </div></div>
          <div class="col"><div class="card" style="width: 18rem;">
            <img src="https://www.techspot.com/articles-info/2134/images/2020-11-06-image-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">AMD Ryzen™ 7 5800X</h5>
              <p class="card-text">AMD "Zen 3" Core Architecture
                AMD StoreMI Technology
                AMD Ryzen™ Master Utility
                AMD Ryzen™ VR-Ready Premium</p>
            </div>
          </div></div>
        </div>
      </div>
</body>
</html>